.tweet-block {
    padding: 1rem;
    border-left: .0625rem solid #e5e5e5;
    border-right: .0625rem solid #e5e5e5;
    /*border-radius: .25rem;*/
}

.tweet-profile-image {
    display: block;
    border: 0;
    width: 48px;
    height: 48px;
}

.tweet {
    padding: 0.1rem;
}

.tweet-title {
    margin-bottom: 0rem;
}

.tweet-text {
    margin-bottom: 0rem;
    font-size: 14px;
    line-height: 18px;
    white-space: pre-wrap;
    word-wrap: break-word;
}